@media (max-width: 480px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.main-body{
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: black;
    color: white;
}
.main-panel{
  max-width: 960px;
  margin:auto;
  font-size: 22px;
}
ul{
  list-style-type: none;
}
.action-panel{
  min-height: 550px;
}
.game-info-panel{
    min-height: 550px;
}
.circle {
	width: 80px;
	height: 80px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
}
.red{
  background: red;
}
.green{
  background: green;
}
.grey{
  background: grey;
}
.game_score_display{
  display: inline-block;
  min-width: 406px;
  min-height: 86px;
}
.login-blurb, .create-or-join{
  text-align: center;
  padding-top: 50px;
}
.create-game-interface, .join-game-interface{
  width: 330px;
  float: none;
  height: 100px;
  font-size: 32px;
  text-align: center;
}
.party-checkbox {
  width: 20px;
  height: 20px;
}
.modal-content{
  color: black;
}
.hud-leader{
  font-weight: bold;
}
.hud-voter{
  font-style: italic;
}
