.main-body{
    position: relative;
    background-color: black;
    color: white;
    max-width: 500px;
    margin: auto;
}
.float-right{
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
.main-panel{

}
.action-panel{
  padding-top: 10%;
}
.game-info-panel{

}
.circle {
  min-width:70%;
	height: 40%;
  min-height: 60px
	-moz-border-radius: auto;
	-webkit-border-radius: auto;
	border-radius: 50%;
  float:right;
}
.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.red{
  background: red;
}
.green{
  background: green;
}
.grey{
  background: grey;
}
.game_score_display{

}
.login-blurb, .create-or-join{
  text-align: center;
  padding-top: 50px;
}
.create-game-interface, .join-game-interface{
  width: auto;
  float: none;
  height: auto;
  font-size: 32px;
  text-align: center;
}
.party-checkbox {
  width: 20px;
  height: 20px;
}
.modal-content{
  color: black;
}
.hud-leader{
  font-weight: bold;
}
.hud-voter{
  font-style: italic;
}
button .owner-toolbar{
  width: 100%;
}
